//package
package com.${projectName}.${packageName};

//imports
import jakarta.persistence.*;
import lombok.*;

#if($class.isEntity)
@Entity
@Table(name = "${class.className}")
#end
@Getter
@Setter
@NoArgsConstructor
@AllArgsConstructor
public class ${class.className} {
#foreach($field in $class.fields)
    #if($field.isIdField)
    @Id
        #if($field.generationStrategy == "IDENTITY")
        @GeneratedValue(strategy = GenerationType.IDENTITY)
        #elseif($field.generationStrategy == "SEQUENCE")
        @GeneratedValue(strategy = GenerationType.SEQUENCE, generator = "${field.name}_seq")
        @SequenceGenerator(name = "${field.name}_seq", sequenceName = "${field.name}_seq", allocationSize = 1)
        #else
        @GeneratedValue(strategy = GenerationType.AUTO)
        #end
    #end
private ${field.type} ${field.name};
#end
}