//package
package com.${projectName}.repositories;

import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import com.${projectName}.${packageName}.${class.className};

@Repository
public interface ${class.className}Repository extends JpaRepository<${class.className}, ${class.idType}> {
}
